<ion-header [translucent]="true" class="ion-no-border main-header">
  <img class="header-pokeball-img" src="../../assets/imgs/gray-pokeball.png">
  <ion-toolbar>
    <div class="tittles">
      <h3>Whats Pokemon are you looking for?</h3>
      <ion-searchbar placeholder="Search pokemon"></ion-searchbar>
    </div>
    <ion-grid fixed>
      <ion-row class="category-buttons-container">
        <ion-col size="6" *ngFor="let item of categoryButtons">

          <ion-button (click)="navigateTo(item.navigateTo)" expand="block" [class]="item.colorButton">
            <p>{{item.name}}</p>
            <img class="button-pokeball-img" src="../../assets/imgs/gray-pokeball.png">

          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="false">

</ion-content>
