/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-pokeball-img {
    position: absolute;
    top: -58px;
    right: -78px;
    z-index: 100;
  }

.yellow {
  background-color: #FFCE4B !important;
}

.green {
  //background-color: #4FC1A6 !important;
  background-color: rgba($color: #4FC1A6, $alpha: 0.7) !important;
}

.blue {
  //background-color: #58ABF6 !important;
  background-color: rgba($color: #58ABF6, $alpha: 0.7) !important;

}

.red {
  //background-color: #F7786B !important;
  background-color: rgba($color: #FB6C6C, $alpha: 0.8) !important;

}

.white {
  background-color: #EEEEEE !important;
}

.brown {
  background-color: #B1736C !important;
}

.purple {
  background-color: #7C538C !important;
}

.pink {
  background-color: #DB7093 !important;
}

.gray {
  background-color: #696969 !important;
}

.black {
  background-color: #000000;
}

.pokedex-toolbar {
  padding-top: 3rem !important;
}

.d-flex {
  display: flex;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
